<div class='md:min-w-[450px] flex flex-col'>  
    <div>  
        <% if (selectedUser) { %> <!-- Check for the selected user object -->
        <div class='bg-slate-500 px-4 py-2 mb-2'>  
            <span class='label-text'>To:</span> <span class='text-gray-900 font-bold'> <%= selectedUser.username %></span>  
        </div>  
        <%- include('./messages'); %>  
        <%- include('./messageInput'); %>
        <% } else { %>
            <div class='flex items-center justify-center w-full h-full'>
                <div class='px-4 text-center sm:text-lg md:text-xl text-gray-200 font-semibold flex flex-col items-center gap-2'>
                    <p>Welcome 👋 </p>
                    <p>Select a chat to start messaging</p>
                    <TiMessages class='text-3xl md:text-6xl text-center' />
                </div>
            </div>
        <% } %>  
    </div>  
</div>
