<div class="p-4 h-screen flex items-center justify-center">  
    <div class="flex sm:h-[400px] md:h-[500px] rounded-lg overflow-y-auto max-h bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-0">  
         <div class="flex-1">  
            <%- include('../sidebar/sidebar'); %>  
        </div>  
        <div class="flex-1">  
            <%- include('../messages/messageContainer'); %>   
        </div>  
    </div>  
</div>