    <!-- Below are placeholders, ensure you have appropriate file structures and components -->  
    <div class="border-r border-slate-500 p-4 flex flex-col h-full relative overflow-y-auto max-h-74">  
        <%- include('./searchInput'); %>  
        <div class='divider px-3'></div>  
        <%- include('./conversations'); %>  
        <%- include('./logout'); %>  
    </div>  